name: Action-Test

run-name: "Action-Test - [${{ github.event.pull_request.title }} #${{ github.event.pull_request.number }}] by @${{ github.actor }}"

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

env:
  GH_TOKEN: ${{ github.token }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # to checkout the repo
  statuses: write # to create commit status

jobs:
  UploadArtifact:
    name: Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Upload module artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: module
          path: tests/srcTestRepo/outputs/module
          if-no-files-found: error
          retention-days: 1

  ActionTestDefault:
    name: Action-Test - [Default]
    runs-on: ubuntu-latest
    needs: UploadArtifact
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Action-Test
        uses: ./
        with:
          Name: PSModuleTest
          WorkingDirectory: tests/srcTestRepo

      - name: Lint documentation
        uses: super-linter/super-linter/slim@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2 # v8.2.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
          VALIDATE_MARKDOWN: true
          VALIDATE_NATURAL_LANGUAGE: true
          VALIDATE_ALL_CODEBASE: true
          USE_FIND_ALGORITHM: true

  ActionTestWithSummary:
    name: Action-Test - [With Summary]
    runs-on: ubuntu-latest
    needs: UploadArtifact
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          fetch-depth: 0


      - name: Action-Test
        uses: ./
        with:
          Name: PSModuleTest
          WorkingDirectory: tests/srcTestRepo
          ShowSummaryOnSuccess: true
